<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Підключаємо таблицю стилів, зсилаючись на статичний файл styles.css-->
    <link type="text/css"  href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
{% block title %}
    {% if title %}
        <title>Про Flask - {{ title }}</title> <!-- на кожній сторінці буде свій заголовок переданий через {{ title }} -->
    {% else %}
        <title>Про Flask</title>
    {% endif %}
{% endblock %}
</head>
<body>
{% block content %}
    {% block mainmenu %}
        <ul class="mainmenu">  <!-- 12) Добавляємо в шаблон простий список, який буде нашим меню -->
            {% for p in menu %}  <!-- Вирішив виводити меню з таблиці за допомогою циклу -->
                <li><a href="{{p.url}}">{{p.title}}</a></li>  <!-- Кожен елемент списка меню буде посиланням href="" і буде складатися з назви посилання в адресній строці {{p.url}} і назви самого пункту меню {{p.title}} -->
            {% endfor %}
        </ul>
    {% endblock mainmenu %}
<div class="clear"></div>
<div class="content">
    {% if title %}
        <h1>{{ title }}</h1> <!-- 11) на кожній сторінці буде свій h1 заголовок переданий через {{ title }} -->
    {% else %}
        <h1>Про Flask</h1>
    {% endif %}
{% endblock %}
</div>
</body>
</html>