{% extends "base.html" %} <!-- Означає, що наблон index.html наслідується від батьківського base.html-->

{% block content %}
{{ super() }} <!-- Звертається до атрибутів класів над ним в порядку успадкування -->
<hr>
<h2>Список статей</h2>
<ul class="list-posts">  <!-- Список ul, в якому ми перебираємо колекцію posts -->
{% for p in posts %}     <!-- і кожна стаття поміщається в змінну p -->
<li>
<p class="title"><a href="{{ url_for('showPost', alias=p.url)}}">{{p.title}}</a></p>   <!-- Формуємо посилання на статтю за допомогою url_for. ShowPost буде повертати статтю p за її id. # додав псевдонім alias=p.url, тобто метод буде повертати статтю не за id, а за унікальним url, що ми вводимо при додаванні статті. Натискаючи на заголовок статті, ми перейдемо на дану статтю.-->
<p class="annonce">{{ (p.text | striptags)[:50] }}</p>  <!--  З тексту статті буде взято перші 50 символів і позначено як анонс-->
                                                        <!-- Ввів фільтр | striptags, щоб уникнути відображення тегів в анонсі статті на головній сторінці -->
</li>
{% endfor %}
</ul>
{% endblock %}