{% extends "base.html" %} <!-- Означає, що наблон login.html наслідується від батьківського base.html-->

{% block content %}
{{ super() }} <!-- Звертається до атрибутів класів над ним в порядку успадкування -->
{% for cat, msg in get_flashed_messages(True) %}  <!-- Відображаємо флеш повідомлення -->
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<form action="" method="post" class="form-contact">
{{ form.hidden_tag() }} <!-- метод hidden_tag для захисту від атак на сервер -->


<p>{{ form.email.label() }} <!-- метод .label формує опис поля, метод .email - формує саме поле вводу  -->
{% if form.email.errors %} <!-- перевіряємо чи існують помилки при вводі даних в поле. Тобто, якщо форма була відправлена, перевірена, там виникли помилки, то вона повертається на сервер і колекція errors буде вміщати певне повідомлення про помилку -->
         {{ form.email(class="invalid") }} <!-- якщо виникли помилки, то ми поле email будемо відображати з відповідними стилями -->
<span class="invalid-feedback">  <!-- будуть відображені всі помилки, які виникнуть при вводі в поле емейл -->
         {% for e in form.email.errors %}  <!-- помилки ми перебираємо з колекції errors і відповідно для поля email  -->
         {{ e }} <!-- відображаємо помилку -->
         {% endfor %} <!-- закриваємо цикл -->
</span>
{% else %} <!-- інакше, якщо ніяких помилок не було, то відображаємо поле емейл так як воно було -->
    {{ form.email() }}
{% endif %}
<p>{{ form.psw.label() }} {{ form.psw() }}
<p>{{ form.remember.label() }} {{ form.remember() }}
<p>{{ form.submit() }}
   <!-- Буде 2 поля вводу  "email" і "psw" -->
    <!-- <p><label>Email: </label> <input type="text" name="email" value="" required />
    <p><label>Пароль: </label> <input type="password" name="psw" value="" required />
    <p><input type="checkbox" name="remainme" /> Запам’ятати мене
    <p><input type="submit" value="Увійти" /> -->
    <hr align=left width="300px">
    <p><a href="{{url_for('register')}}">Реєстрація</a>
</form>
{% endblock %}